$header-color: rgb(0, 172, 172);
$header-font-color: #fff;
$nav-bcd-color: rgb(255, 255, 255);
$nav-ele-color: rgb(132, 132, 132);
$main-bcd-color: rgb(250, 250, 250);
$card-bcd-color: $header-color;
$form-icon-color: rgb(172, 172, 172);
$form-bcd-color: rgb(236, 236, 236);
$form-text-color: rgb(115, 115, 115);
$footer-color: $header-color;
$footer-text-color: #fff;
$btn-color: $header-color;
$btn-text-color: rgb(255, 255, 255);
$selection-color: #fff;
$selector-bcd-color: $header-color;

* {
  margin: 0;
  padding: 0;
}

body,
input,
textarea {
  font-family: Nunito;
}

::selection {
  color: $selection-color;
  background-color: $selector-bcd-color;
}

.container {
  margin: 0 auto;
}

header {
  width: 100%;
  height: 9.2rem;
  background-color: $header-color;

  h1 {
    color: $header-font-color;
    text-align: center;
    line-height: 4.6;
  }
}

nav {
  margin: 0 auto;
  height: 5.3rem;
  background-color: $nav-bcd-color;
  position: sticky;
  top: 0;
  box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.1);

  .nav_content {
    max-width: 80%;
    margin: 0 auto;
  }

  img {
    width: 40px;
    position: relative;
    top: 1.5rem;
    margin-left: 2rem;
    clip-path: circle();
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
  ul {
    line-height: 5;
    float: right;

    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 2rem;
      font-weight: 700;
      color: $nav-ele-color;
      cursor: pointer;

      &:hover {
        color: darken($nav-ele-color, 25);
      }
    }
  }
}

main {
  background-color: $main-bcd-color;

  div {
    max-width: 80%;
    margin: 0 auto;
  }
}

.content_one > * {
  margin: 0 2rem;
}

.content_one {
  h1 {
    padding: 5rem 0 1rem;
  }
  p {
    line-height: 1.5;
    text-align: justify;
  }
}
.content_two {
  text-align: center;
  margin: 3rem auto;
}
.card_one,
.card_two {
  width: 20rem;
  display: inline-block;
  background-color: $card-bcd-color;
  color: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  margin: 2rem 3rem;

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-weight: 300;
  }
}

.card_one > *,
.card_two > * {
  margin-bottom: 1rem;
}

.content_three {
  width: 40rem;
  margin: 0 auto;
}

.input_fields {
  background-color: $form-bcd-color;
  border-radius: 3.5rem;
  margin-bottom: 1rem;
  height: 3rem;

  input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.8rem;
    color: $form-text-color;
    font-weight: 600;
    width: 75%;
  }
}

.input_comments {
  background-color: $form-bcd-color;
  border-radius: 1rem;
  height: 10rem;

  textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    resize: none;
    padding-left: 0.8rem;
    color: $form-text-color;
    font-weight: 600;
    width: 79%;
    height: 85%;
    margin-top: 0.8rem;
  }
}
.input_fields,
.input_comments {
  i {
    color: $form-icon-color;
    line-height: 2;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
}
.input_comments i {
  float: left;
}
.button {
  width: 40rem;
  margin: 0 auto;
  padding: 3rem 0;

  button {
    width: 100%;
    padding: 1.5rem 0;
    border: none;
    outline: none;
    background-color: $btn-color;
    color: $btn-text-color;
    font-size: 1.2rem;
    border-radius: 3rem;
    cursor: pointer;
    &:hover {
      background-color: lighten($btn-color, 2);
    }
    &:active {
      transform: scale(0.995);
    }
  }
}

footer {
  background-color: $footer-color;
  color: $footer-text-color;
  font-size: 1.3rem;
  text-align: center;
  line-height: 7;
}

.additional {
  display: none;
}

// additional
@media (max-width: 630px) {
  .container {
    display: none;
  }

  .additional {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      clip-path: circle();
    }

    h1 {
      width: 20rem;
      text-align: center;
    }
  }
}
